@model DummyApp.Entities.ViewModels.RegistrationViewModel

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <partial name="_Loginpartial.cshtml" />
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                @using (Html.BeginForm("Registration", "Account", FormMethod.Post))
                {
                    <!-- Login with Socials Div -->
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-facebook"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-linkedin"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">OR</p>
                    </div>

                    <!-- First Name input -->
                    <div class="form-outline">
                        <input type="text" class="form-control form-control-lg" placeholder="evan" asp-for="FirstName">

                        <label class="form-label">First Name</label>
                        
                    </div>
                    @Html.ValidationMessageFor(model => model.FirstName,"", new
                {
                @class = "text-danger"
                })
                    <!-- Last Name input -->
                    <div class="form-outline mt-4">
                        @Html.TextBoxFor(m => m.LastName , new { @class = "form-control form-control-lg", @placeholder= "last name" })
                        <label class="form-label">Last Name</label>
                    </div>
                    @Html.ValidationMessageFor(model => model.LastName,"", new
                {
                @class = "text-danger"
                })
                    <!-- Email input -->
                    <div class="form-outline mt-4">
                        @Html.TextBoxFor(m => m.Email , new { @class = "form-control form-control-lg", @placeholder= "abc@gmail.com" })
                        <label class="form-label">Email address</label>
                    </div>
                    @Html.ValidationMessageFor(model => model.Email,"", new
                {
                @class = "text-danger"
                })
                    <!-- Phone Number input -->
                    <div class="form-outline mt-4">
                        @Html.TextBoxFor(m => m.PhoneNumber , new { @class = "form-control form-control-lg", @placeholder= "6457645754" })
                        <label class="form-label">Phone Number</label>

                    </div>
                    @Html.ValidationMessageFor(model => model.PhoneNumber,"", new
                {
                @class = "text-danger"
                })

                    <!-- Password input -->
                    <div class="form-outline mt-3">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder="" , @type = "password" ,@id="txtPassword"})
                        <label class="form-label">Password</label>
                    </div>
                    @Html.ValidationMessageFor(model => model.Password,"", new
                {
                @class = "text-danger"
                })
                    <!-- Confirm Password input -->
                    <div class="form-outline mt-3">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder="" , @type = "password", @id="txtConfirmPassword"})
                        <label class="form-label">Confirm Password</label>
                    </div>
                    @Html.ValidationMessageFor(model => model.ConfirmPassword,"", new
                {
                @class = "text-danger"
                })
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Forgotpassword div -->
                    <div class="form-check mb-0">
                        </div>
                        <a asp-action="ForgotPassword" asp-controller="Account" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">

                        <button type="button" class="btn btn-light btn-lg border"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;"
                            onclick="ResetDetails()">
                            Reset
                        </button>

                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Register
                        </button>

                    </div>
                }
                @if (@ViewBag.Message != null)
                {
                    <script type="text/javascript" lang="javascript">
                        alert("@ViewBag.Message");
                    </script>
                }
            </div>
        </div>
    </div>
    @*  <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
        </div>
        <!-- Copyright -->

        <!-- Right -->
        <div>
        <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
        </a>
        </div>
        <!-- Right -->
        </div>*@
</section>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>

    function ResetDetails()
    {
        console.log("ResetDetails function call");
    }
</script>